body {
     background-color:#1F6F5F;
}
h1{
    font-family: serif;
    text-align:justify;
    font-size: 50px;
    color: #1F6F5F;
}
#wrapper {
    border: 10px solid #1F6F5F;
    min-height: 100%;
    background-color: #EEEEEE;
}
.header {
    border: 5px;
    background-color: white ;
    min-height: 10%;
}
.main-navigation {
    background-color: #2FA084;
    height: 70px;
    text-align: center  ;
}
button {
    font-size: 20px;
    background-color: #EEEEEE;
}
button:hover {
    background-color: aqua;
}
h2 {
    font-size: 40px;
    font-family: Calibri;
    text-align: center;
    background-color: #2FA084;
    
}
p {
    font-family: serif;
    font-size: 20px;
}
h3 {
    font-size: 30px;
}
li {
    font-size: 20px;
}